---
import BaseLayout from '../BaseLayout.astro'

const { content, rawContent } = Astro.props
const MAX_DESC_LENGTH = 128

const description = content.description ? content.description : rawContent().substr(0, MAX_DESC_LENGTH).replace(/\r?\n/g, '')

// Memo: 一旦編集はクローズドにしておく
// const editUrl = `https://github.com/kufu/product-design/blob/main/${content.file.substring(content.file.indexOf('src/', 1))}`
---

<BaseLayout title={content.title} description={description} author={content.author} type="wiki">
  <header slot="header">
    <a href="/wiki/">Product Design Wiki</a>
  </header>
  <main>
    <article>
      <header>
        <h1>{content.title}</h1>
      </header>
      <slot />
      {
        content.author && (
          <dl>
            <dt>著者</dt>
            <dd>{content.author}</dd>
          </dl>
        )
      }
    </article>
    <!-- <p>
      <a href={editUrl}>ページを編集する</a>
    </p> -->
  </main>
</BaseLayout>
